extends layout
block layout-content 
    div#content.content
        h1.page-title Welcome Groove Seekers!
        p Step inside Grooovy Tunes, Toronto’s hidden gem for vinyl enthusiasts and music lovers. Tucked away in the heart of the city, our cozy record store is a sanctuary for those who cherish the authentic, the classic, and the eclectic.
        a(href="/records").call Click here to browse our catalogue
        img(src="./img/recordStore1.jpg" alt="Interior shot of front door and window of record shop. There are many records displayed on the walls and display shelfs") 
        //Image sourced from https://thevinylfactory.com/wp-content/uploads/2021/04/behind-the-counter-record-store-day-series.jpg
        h2 Why Grooovy Tunes?
        ul 
            li <span class="bld-txt">Curated Selection:</span> From rare finds to the latest releases, our shelves are stocked with records that will ignite your musical passion.
            li <span class="bld-txt">Community Hub:</span> Grooovy Tunes is more than just a store—it's a gathering place for the local music community. Catch live shows, DJ sets, and listening sessions that will blow your mind and expand your sonic horizons.
            li <span class="bld-txt">Passionate Staff:</span> Our team lives and breathes music. Whether you need help discovering new sounds or advice on vinyl care, we’re here to share our knowledge and love for music.
        img(src="./img/recordStore2.jpg" alt="Several young people gethering in a spacious record shop. There is a DJ setting up in a purple lit back room")
        //Image sourced from https://media1.pghcitypaper.com/pittsburgh/imager/u/original/21519309/governmentcenter-recordstore-pittsburgh-records-livemusic.jpg
        h2 Visit Us
        p We invite you to visit Grooovy Tunes and experience the magic for yourself. Located at 456 Queen Street, Toronto, our store is a haven for anyone who appreciates the art of music. Whether you're hunting for a rare gem, eager to discover new artists, or just want to chat about your favorite records, we'd love to see you.
        h2 Stay Connected
        p Have a question or want to learn more about our events and services? Feel free to reach out to us at info@grooovytunes.ca or give us a call at (416) 555-1234. Follow us on social media @GrooovyTunes for updates, event announcements, and more.
        .closer 
        p Thank you for being a part of the Grooovy Tunes family. Let's keep the music spinning!
            