extends layout
block layout-content 
    div#content.content 
        h1.page-title Our Records! 
        p Browse through our records available for purchase! Send us an email at info@grooovytunes.ca and we will put any album on hold for you until you can pick it up in-store.
        div.container.card-box
            each record in products
                div.card
                    h3  #{record.title}
                    p Artist: #{record.artist}
                    p Year: #{record.year}
                    p Genre: #{record.genre}